.Profile {
    display: flex;
    width: 80%;
    margin: 30px auto;
}

.Profile .likedEvents, .createdEvents {
    margin: 0 auto;
    background-color: ghostwhite;
}

.Profile .profile-data {
    width: 20%;
    margin: 0 auto;
    background-color: ghostwhite;
    border-radius: 5px;
    padding: 20px 15px 0 15px;
}

.Profile .profile-data img {
    width: 100px;
}

.Profile .profile-data .name {
    font-weight: bold;
}

.Profile .profile-data .username {
    color: #017fbe;
}

.Profile .profile-data .buttons {
    display: flex;
}

.Profile .profile-data .buttons button {
    height: 40px;
    margin: 0 10px;
}

